$font-family-body: "Work Sans", sans-serif;
$font-family-title: "Cinzel", serif;
$font-family-monospace: "Inconsolata", monospace;

$title-large: 2rem;
$title-medium: 1.587401rem;
$title-small: 1.259921rem;
$small: 0.793701rem;

$letter-spacing: 0.0625rem;

$line-height-body: 1.618034;
$line-height-title: 1.27202;
