@use "var";

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes roll-right {
  0% {
    left: 0;
  }

  100% {
    left: calc(50% - 72px);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

body {
  opacity: 0;
  animation: fade-in var.$anim;
}

header {
  padding-top: 2rem;
}

#logo {
  background-color: var.$bgc2;
  background-image: url("../images/logo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: var.$bdw solid var.$bdc;
  border-radius: 50%;
  height: 8rem;
  margin: 0 auto;
  width: 8rem;
}

main {
  padding: 1rem 0;

  section {
    padding: 1rem 0;
  }
}

#photo {
  border-radius: var.$bdrs;
  float: left;
  margin: 0 1rem 1rem 0;
  overflow: hidden;
  padding-top: 50%;
  position: relative;
  width: 50%;

  img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

h1 {
  padding-bottom: 0;
}

#projects li {
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;

  &::before {
    color: var.$bdc;
    content: "•";
    flex: initial;
    margin-right: 1rem;
  }

  span {
    flex: auto;
    margin-right: .25rem;
  }

  a {
    flex: initial;
  }
}

footer {
  background-color: var.$bgc2;
  padding: 1rem 0;

  .flex {
    column-gap: .5rem;
  }

  ul {
    margin-bottom: .5rem !important;
  }

  li {
    margin-bottom: 0;
  }
}

@mixin md {
  #logo {
    animation: roll-right var.$anim;
    margin: 0;
    position: relative;
    z-index: 2;
  }

  main {
    margin-bottom: -4rem;
    position: relative;
    top: -4rem;
    padding: 0;

    section {
      padding-bottom: 1rem;
    
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  .card {
    padding-top: 4rem;
    position: relative;
  }

  #photo {
    padding-top: 12rem;
    width: 12rem;
  }

  #projects li {
    span {
      flex: initial;
    }
  }

  footer {
    background-color: transparent;
    padding-bottom: 2rem;
  }
}

@mixin lg {}
