@use "var";

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes roll-in {
    0% {
        left: -9.1895rem;
    }

    100% {
        left: calc(50% - 72px);
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

.image-wrapper {
    border: 0.0625rem solid;
    border-color: var.$detail-color;
    border-radius: 50%;
    box-sizing: content-box;
    overflow: hidden;
    margin: 0 auto 1rem;
    padding-top: 12.1257rem;
    position: relative;
    width: 12.1257rem;

    img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.work-list {
    li {
        display: flex;
        flex: start;

        &::before {
            color: var.$detail-color;
            content: "-";
            flex: initial;
            margin-right: 1rem;
        }

        p {
            flex: auto;
            margin-bottom: 0.5rem;
        }

        svg {
            height: 1.3195em;
            margin-left: 0.5rem;
            width: auto;
        }
    }
}

footer {
    margin-bottom: 1rem;
    a {
    color: var.$text-color;
    font-weight: 528;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;

    &:hover {
        color: lighten(var.$text-color, 20%);
    }
}
}

.footnote {
    font-weight: 336;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}

@mixin tablet {
    .image-wrapper {
        float: left;
        margin: .5rem 1rem 1rem 0;
    }

    .work-list li p {
        flex: initial;
    }
}

@mixin desktop {}
