@use "variables" as v;

.clearfix {
    clear: both;
    content: "";
    display: table;
}

.image-wrapper {
    background-color: v.$background-secondary;
    border: v.$border;
    border-radius: 50%;
    box-sizing: content-box;
    overflow: hidden;
    margin: 0 auto 1rem;
    padding-top: 207px;
    position: relative;
    width: 207px;

    img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.work-list {
    li {
        align-items: flex-start;
        display: flex;
        flex: start;

        &::before {
            content: "•";
            flex: initial;
            margin-right: 1rem;
        }

        p {
            flex: auto;
            margin-bottom: 0.5rem;
        }

        svg {
            height: v.$font-size-h2;
            margin: 0.125rem 0 0.125rem 0.5rem;
            width: auto;
        }
    }
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    justify-content: center;

    li {
        line-height: v.$line-height-secondary;
    }

    a {
        color: v.$color-link-secondary;
        font-size: v.$font-size-small;
        font-weight: v.$font-weight-medium;
        letter-spacing: 0.0625rem;
        text-transform: uppercase;

        &:hover {
            color: v.$color-link-secondary-hover;
        }
    }
}

#lang {
    color: v.$color-link-secondary;
    display: inline-block;
    font-size: v.$font-size-small;
    margin-bottom: 1rem;
    text-align: center;

    &:hover {
        color: v.$color-link-secondary-hover;
    }
}

@mixin medium {
    .image-wrapper {
        float: left;
        margin: 0 1rem 1rem 0;
    }

    .work-list li {
        p {
            flex: initial;
        }
    }
}
