@use "sass:string";
@use "var";

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: var.$fw1 800;
  src: local("Open Sans"), url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format("truetype-variations");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-stretch: 75% 100%;
  font-style: italic;
  font-weight: var.$fw1 800;
  src: local("Open Sans"), url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format("truetype-variations");
}

@font-face {
  font-display: swap;
  font-family: "Bebas Neue";
  font-style: normal;
  src: local("Bebas Neue"), url(../fonts/BebasNeue-Regular.ttf) format("truetype");
}

*,
::after,
::before {
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%;
  height: 100%;
}

body {
  background-color: var.$bgc1;
  color: var.$c1;
  font: var.$fs2 string.unquote("/") var.$lh4 var.$ff1;
  font-weight: var.$fw2;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin-bottom: 1rem;

  li {
    margin-bottom: .5rem;
  }
}

nav ul li {
  margin-bottom: 0;
}

header,
footer {
  padding: 2rem 0;
}

header ul {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

  .flex-item {
    flex: 1;
  }

  &.flex-col {
    flex-direction: column;
  }

  &.flex-center {
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  clear: both;
  content: "";
  display: block;
}

hr {
  border-bottom: .25rem solid var.$bdc;
  margin: 1rem 0;
  width: 4rem;
}

.huge,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  line-height: var.$lh3;
  margin-bottom: 1rem;
}

.huge {
  font-size: var.$fs6;
}

h1, .h1 {
  font-size: var.$fs5;
  font-weight: var.$fw5;
}

h2, .h2 {
  font-size: var.$fs4;
  font-weight: var.$fw4;
}

h3, .h3 {
  font-size: var.$fs3;
  font-weight: var.$fw3;
}

p {
  margin-bottom: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.small {
  font-size: var.$fs1;
  line-height: var.$lh3;
  margin-bottom: .5rem;
}

a {
  color: var.$c1-link;
  text-decoration: none;
  transition: color var.$trs; 

  &.icon-link {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    letter-spacing: .0625rem;

    svg {
      font-size: inherit;
      height: var.$fs2;
      line-height: inherit;
      margin-right: .25rem;
      width: auto;
    }
  }
}

.secondary {
  font-family: var.$ff2;
  font-weight: var.$fw2;
  line-height: var.$lh1;
}

.condensed {
  font-stretch: condensed;
}

.semi-condensed {
  font-stretch: semi-condensed;
}

.light {
  font-weight: var.$fw1;
}

.regular {
  font-weight: var.$fw2;
}

.medium {
  font-weight: var.$fw3;
}

.bold {
  font-weight: var.$fw4;
}

.bolder {
  font-weight: var.$fw5;
}

.italic {
  font-style: italic;
}

.wide {
  letter-spacing: .0625rem;
}

.tight {
  letter-spacing: -.0625rem;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.center {
  text-align: center;
}

@mixin md {
  .container {
    max-width: 800px;
  }

  .card {
    background-color: var.$bgc2;
    border: var.$bdw solid var.$bdc;
    border-radius: var.$bdrs;
    padding: 2rem;
  }

  .flex {
    &.flex-row-md {
      flex-direction: row;
    }

    &.flex-start-md {
      justify-content: flex-start;
    }
  }

  .left-md {
    text-align: left;
  }

  a:hover {
    color: var.$c2-link;
  }
}

@mixin lg {
  .container {
    max-width: 1280px;
  }
}
