@use "sass:string";
@use "var";

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: normal;
    font-weight: 300 800;
    src: local("Open Sans"), url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: italic;
    font-weight: 300 800;
    src: local("Open Sans"), url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Bebas Neue";
    font-style: normal;
    src: local("Bebas Neue"), url(../fonts/BebasNeue-Regular.ttf) format(truetype);
}

*,
::after,
::before {
    border: none;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    background-color: var.$background-color;
    color: var.$text-color;
    display: flex;
    flex-direction: column;
    font: 400 1rem/1.272 "Open Sans", Arial, Helvetica, sans-serif;
    justify-content: center;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 1rem;
    padding-right: 1rem;
}

hr {
    border-width: 0 0 0.0625rem 0;
    border-bottom: var.$border;
    margin: 1rem 0;
    width: 4rem;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
} 

ul:last-child {
    margin-bottom: 0;
}

h1, .h1 {
    font-size: 2.0582rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

h2, .h2 {
    font-family: "Bebas Neue", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.618rem;
    // font-weight: 635;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h3, .h3 {
    font-size: 1.272rem;
    font-weight: 504;
    margin-bottom: 1rem;
}

p {
    line-height: 1.618;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.small {
    font-size: 0.7862rem;
}

a {
    color: var.$link-color;
    text-decoration: none;
    transition: color 0.3295s ease-out;
}

a:hover {
    color: var.$link-on-hover-color;
} 

blockquote,
q {
    quotes: none;
}

.font-light {
    font-weight: 317;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 635;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

@mixin medium {}

@mixin large {}
