@use "sass:string";
@use "variables" as v;

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: normal;
    font-weight: 300 800;
    src: local(Open Sans), url(../fonts/OpenSans-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-stretch: 75% 100%;
    font-style: italic;
    font-weight: 300 800;
    src: local(Open Sans), url(../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
    font-display: swap;
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 400 700;
    src: local(Dancing Script), url(../fonts/DancingScript-VariableFont_wght.ttf) format(truetype) tech(variations);
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

html {
    font-size: 18px;
    height: 100%;
}

body {
    animation: fade-in 0.99s ease-out forwards 0.33s;
    background-color: v.$background-primary;
    color: v.$color-text-primary;
    display: flex;
    flex-direction: column;
    font: 400 1rem string.unquote("/") v.$line-height-primary v.$font-family-primary;
    justify-content: center;
    min-height: 100%;
    opacity: 0;
    text-rendering: optimizeLegibility;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 1rem;
}

.card {
    background-color: v.$background-secondary;
    border-radius: v.$border-radius;
    box-shadow: v.$box-shadow;
    margin: 1rem 0 2rem;
    padding: 1rem;
}

section {
    padding-top: 1rem;
}

hr {
    border-bottom: v.$border;
    margin: 1rem 0;
}

hgroup {
    border-bottom: v.$border;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
    margin-bottom: 1rem;
} 

h1, .h1 {
    font-size: v.$font-size-h1;
    font-weight: v.$font-weight-bold;
    line-height: v.$line-height-secondary;
    margin-bottom: 0.5rem;
    text-align: center;
}

h2, .h2 {
    font-size: v.$font-size-h2;
    font-weight: v.$font-weight-medium;
    line-height: v.$line-height-secondary;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

p {
    margin-bottom: 1rem;
}

.lead {
    color: v.$color-text-secondary;
    font-family: v.$font-family-secondary;
    font-size: v.$font-size-h1;
    font-weight: v.$font-weight-medium;
    line-height: v.$line-height-secondary;
    margin-bottom: 0;
}

a {
    color: v.$color-link-primary;
    text-decoration: none;
    transition: color v.$transition;
}

a:hover {
    color: v.$color-link-primary-hover;
} 

blockquote,
q {
    quotes: none;
}

.small {
    font-size: v.$font-size-small;
}

.weight-light {
    font-weight: v.$font-weight-light;
}

.weight-medium {
    font-weight: v.$font-weight-medium;
}

strong,
.weight-bold {
    font-weight: v.$font-weight-bold;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

footer {
    margin-bottom: 1rem;
}

@mixin medium {
    h1 { text-align: initial }
}
