@use 'sass:math';
@use '../abstracts/variables' as var;

footer {
  background: var.$footerBackground;
  color: var.$footerColor;
  position: relative;

  .grid {
    padding: 2rem 0;
  }

  a,
  a:any-link {
    color: var.$footerLinkColor;

    &:hover {
      color: var.$footerLinkColorHover;
    }
  }

  .credits {
    display: block;
    font-size: var.$fontSizeSmall;
    margin-top: 1rem;
    text-align: center;
  }
}

@mixin tablet {}

@mixin desktop {}
