$background-1: hsl(234, 12.5%, 100%);
$background-2: hsl(234, 12.5%, 93.75%);
$background-3: hsl(234, 12.5%, 96.875%);

$border: 0.0625rem solid hsl(234, 12.5%, 81.25%);
$shadow: 0.125rem 0.25rem 0.5rem hsla(0, 0%, 0%, 0.0625);
