$color-text-1: hsl(234, 12.5%, 18.75%);
$color-text-2: hsl(234, 12.5%, 37.5%);

$color-link-1: hsl(141, 62.5%, 43.75%);
$color-link-1-hover: lighten($color-link-1, 12.5%);
$color-link-2: hsl(234, 12.5%, 37.5%);
$color-link-2-hover: lighten($color-link-2, 12.5%);

$color-info: hsl(216, 62.5%, 43.75%);
$color-stop: hsl(6, 62.5%, 50%);
$color-caution: hsl(42, 62.5%, 43.75%);
$color-proceed: hsl(141, 62.5%, 37.5%);

$font-family-sans: "Open Sans", Arial, Helvetica, sans-serif;
$font-family-handwriting: "Dancing Script", cursive;

$height-1: 1.618;
$height-2: 1.272;

$size-h1: 1.618rem;
$size-h2: 1.272rem;
$size-small: 0.7862rem;

$weight-light: 314;
$weight-medium: 509;
$weight-bold: 647;

$transition: 0.3295s ease-out;
