@use "../abstracts" as var;

#profile {
  .profile__cover {
    margin-bottom: 1rem;
  }

  .profile__image {
    margin: 0 auto;
    max-width: 240px;
  }
}

#contact {
    padding-bottom: 2rem;
}

@mixin medium {
  #profile,
  #contact,
  #wallet {
    .section__title {
      text-align: unset;
    }
  }
}
