@use "../abstracts" as var;

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.picture__image {
  background: url("../images/robson-niemeyer.webp") center / cover no-repeat var.$light;
}

@mixin smallScreen {
  #about-me {
    grid-template-columns: repeat(3, 1fr);

    .picture {
      grid-column: 2;
    }

    .summary {
      grid-column: 1 / 4;
    }
  }
}

@mixin mediumScreen {
  #about-me {
    .picture {
      justify-self: center;
      grid-column: 2 / 4;
    }

    .summary {
      grid-column: 5 / 12;
    }
  }

  #contact-me > div {
    grid-column: 5 / 12;
  }
}

@mixin largeScreen {
  #about-me {
    .picture {
      justify-self: center;
      grid-column: 4 / 6;
    }

    .summary {
      grid-column: 7 / 11;
    }
  }

  #contact-me > div {
    grid-column: 7 / 11;
  }
}
