@use '../abstracts/variables' as var;

@keyframes stretch {
  to { width: 100% }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var.$background;
  min-height: 100%;
}

h2 {
  text-align: center;
}

.picture-frame {
  margin: 0 auto;
}

.line {
  animation: 1000ms ease-out forwards 125ms stretch;
  background: #000;
  height: 2px;
  position: absolute;
  top: 0;
  width: 0;

  &.stretch-left {
    margin-right: auto;
  }

  &.stretch-right {
    margin-left: auto;
  }
}

@mixin tablet {
  h2 {
    text-align: inherit;
  }

  .picture-frame {
    justify-self: center;
    grid-column: 1 / 5;
  }

  .summary {
    grid-column: 5 / 13;
  }

  #contact-me > div {
    grid-column: 7 / 13;
  }
}

@mixin desktop {
  .picture-frame {
    justify-self: center;
    grid-column: 3 / 5;
  }

  .summary {
    grid-column: 5 / 11;
  }

  #contact-me > div {
    grid-column: 7 / 11;
  }
}
