$background: #fff;
$backgroundStripe: hsl(240, 16%, 92%);

$borderColor: hsl(240, 16%, 88%);
$borderRadius: 0.5rem;

$color: hsl(240, 16%, 16%);
$dropShadow: drop-shadow(0.125rem 0.353553rem 0.5rem rgba(0, 0, 0, 0.08));
$fontFamily: "Work Sans", sans-serif;
$fontStretch: 108%;
$letterSpacing: 0.0625rem;
$transition: all 250ms ease-out;

$fontSizeTitle: 2rem;
$fontSizeSubtitle: 1.587401rem;
$fontSizeH1: 2rem;
$fontSizeH2: 1.587401rem;
$fontSizeH3: 1.259921rem;
$fontSizeSmall: 0.793701rem;

$linkColor: hsl(210, 96%, 48%);
$linkColorHover: lighten($linkColor, 12%);

$line: transparent;

$headerBackground: linear-gradient(90deg, hsl(210, 92%, 48%), hsl(300, 92%, 48%));
$headerColor: hsl(210, 16%, 100%);

$footerBackground: $headerBackground;
$footerColor: $headerColor;
$footerLinkColor: $footerColor;
$footerLinkColorHover: $footerLinkColor;

// Dark Theme
$dark-theme: false;

@if $dark-theme {
  $headerBackground: hsl(240, 16%, 20%);
  $headerColor: hsl(30, 84%, 52%);

  $background:  hsl(240, 16%, 12%);
  $borderColor: #fff;
  $color: #fff;

  $linkColor:  hsl(195, 84%, 52%);
  $linkColorHover: darken($linkColor, 12%);

  $footerBackground: $headerBackground;
  $footerColor: $color;
  $footerLinkColor: $linkColor;
  $footerLinkColorHover: darken($footerLink, 12%);

  $line: $headerColor;
}
