/* sans-serif (6 fonts)
 */

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 100 900;
  src: local(Work Sans), local(WorkSans), url(../fonts/sans-serif/WorkSans-VariableFont_wght.ttf) format(truetype) tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 100 900;
  src: local(Work Sans), local(WorkSans), url(../fonts/sans-serif/WorkSans-Italic-VariableFont_wght.ttf) format(truetype) tech(variations);
}

/*@font-face {
  font-display: swap;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: local(Bebas Neue), local(BebasNeue), url(../fonts/sans-serif/BebasNeue-Regular.ttf) format(truetype) tech(variations);
}*/

/*@font-face {
  font-display: swap;
  font-family: "Gantari";
  font-style: normal;
  font-weight: 100 900;
  src: local(Gantari), url(../fonts/sans-serif/Gantari-VariableFont_wght.ttf) format(truetype) tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "Gantari";
  font-style: italic;
  font-weight: 100 900;
  src: local(Gantari), url(../fonts/sans-serif/Gantari-Italic-VariableFont_wght.ttf) format(truetype) tech(variations);
}*/

/*@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 100 900;
  src: local(Hanken Grotesk), local(HankenGrotesk), url(../fonts/sans-serif/HankenGrotesk-VariableFont_wght.ttf) format(truetype) tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: italic;
  font-weight: 100 900;
  src: local(Hanken Grotesk), local(HankenGrotesk), url(../fonts/sans-serif/HankenGrotesk-Italic-VariableFont_wght.ttf) format(truetype) tech(variations);
}*/

/*@font-face {
  font-display: swap;
  font-family: "Saira";
  font-stretch: 50% 125%;
  font-style: normal;
  font-weight: 100 900;
  src: local(Saira), url(../fonts/sans-serif/Saira-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "Saira";
  font-stretch: 50% 125%;
  font-style: italic;
  font-weight: 100 900;
  src: local(Saira), url(../fonts/sans-serif/Saira-Italic-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}*/

/*@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-weight: 100 900;
  src: local(Inter), url(../fonts/sans-serif/Inter-VariableFont_slnt,wght.ttf) format(truetype) tech(variations);
}*/

/*@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300 900;
  src: local(Rubik), url(../fonts/sans-serif/Rubik-VariableFont_wght.ttf) format(truetype) tech(variations);
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300 900;
  src: local(Rubik), url(../fonts/sans-serif/Rubik-Italic-VariableFont_wght.ttf) format(truetype) tech(variations);
}*/

/* serif
 */

@font-face {
  font-display: swap;
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400 900;
  src: local(Cinzel), url(../fonts/serif/Cinzel-VariableFont_wght.ttf) format(truetype) tech(variations);
}

/*@font-face {
  display: swap;
  font-family: "Literata";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200 900;
  src: local(Literata), url(../fonts/serif/Literata-VariableFont_opsz,wght.ttf) format(truetype) tech(variations);
}

@font-face {
  display: swap;
  font-family: "Literata";
  font-optical-sizing: auto;
  font-style: italic;
  font-weight: 200 900;
  src: local(Literata), url(../fonts/serif/Literata-Italic-VariableFont_opsz,wght.ttf) format(truetype) tech(variations);
}*/

/*@font-face {
  display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400 700;
  src: local(Lora), url(../fonts/serif/Lora-VariableFont_wght.ttf) format(truetype) tech(variations);
}

@font-face {
  display: swap;
  font-family: "Lora";
  font-style: italic;
  font-weight: 400 700;
  src: local(Lora), url(../fonts/serif/Lora-Italic-VariableFont_wght.ttf) format(truetype) tech(variations);
}*/

/* cursive
 */

/*@font-face {
  font-display: swap;
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  src: local(Permanent Marker), local(PermanentMarker), url(../fonts/cursive/PermanentMarker-Regular.ttf) format(truetype);
}*/

/*@font-face {
  font-display: swap;
  font-family: "Smooch";
  font-style: normal;
  font-weight: 400;
  src: local(Smooch), url(../fonts/cursive/Smooch-Regular.ttf) format(truetype);
}*/

/*@font-face {
  font-display: swap;
  font-family: "Unifraktur Maguntia";
  font-style: normal;
  font-weight: 400;
  src: local(Unifraktur Maguntia), local(UnifrakturMaguntia), url(../fonts/cursive/UnifrakturMaguntia-Regular.ttf) format(truetype);
}*/

/* monospace
 */

@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-stretch: 50% 200%;
  font-style: normal;
  font-weight: 200 900;
  src: local(Inconsolata), url(../fonts/monospace/Inconsolata-VariableFont_wdth,wght.ttf) format(truetype) tech(variations);
}

/*@font-face {
  font-display: swap;
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 300 700;
  src: local(Overpass Mono), local(OverpassMono), url(../fonts/monospace/OverpassMono-VariableFont_wght.ttf) format(truetype) tech(variations);
}*/
