@use "sass:math";
@use "../abstracts/variables" as var;

@keyframes grow {
  to {
    padding: 0;
  }
}

.icon-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;

  li {
    margin: 0;
  }

  a {
    align-items: center;
    display: inline-flex;
  }

  &__image {
    filter: var.$dropShadow;
    height: var.$fontSizeH2;
    padding: math.div(var.$fontSizeH2 - 1rem, 2);
    width: auto;
  }
}

@mixin tablet {
  .icon-group {
    &__image:hover {
      animation: 250ms ease-out forwards grow;
    }
  }
}

@mixin desktop {}
