@use '../abstracts/variables' as var;

.picture-frame {
  align-items: start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;

  .portrait {
    background: url('../images/profile-picture.webp') center / cover no-repeat var.$borderColor;
    border: 1px solid var.$borderColor;
    border-radius: 50%;
    grid-column: 2 / 4;
    padding-bottom: 100%;
  }
}

@mixin tablet {}

@mixin desktop {
  .picture-frame {
    grid-template-columns: repeat(6, 1fr);

    .portrait {
      grid-column: 2 / 6;
    }
  }
}
