@use '../abstracts' as var;

#profile {
  .mtp {
    font-size: var.$title-small;
  }

  .profile__cover {
    margin-bottom: 1rem;
  }

  .profile__image {
    margin: 0 auto;
    max-width: 240px;
  }
}

#contact {
  padding-bottom: 2rem;
}

@mixin medium {
  #profile,
  #contact,
  #wallet {
    .section__title {
      text-align: unset;
    }
  }

  #contact {
    padding-bottom: 0;
  }
}
