.grid-hidden--mobile,
.grid-hidden--tablet,
.flex-hidden--mobile,
.flex-hidden--tablet {
  display: none;
}

@media only screen and (min-width: 768px) {
  .grid-hidden--mobile {
    display: grid;
  }

  .flex-hidden--mobile {
    display: flex;
  }
}

@media only screen and (min-width: 1152px) {
  .grid-hidden--tablet {
    display: grid;
  }

  .flex-hidden--tablet {
    display: flex;
  }
}
