@use "../../sass/abstracts" as var;

#preview {
  background-color: hsl(0 4% 4%);
  border: 1px solid var.$border-color;
  border-radius: var.$border-radius;
  color: var.$light3;
  font-family: var.$font-family-monospace;
  font-size: var.$title-medium;
  font-weight: 900;
  min-height: 240px;
  padding: 1rem 0.5rem;
  text-align: center;
  text-shadow: -0.0625rem 0 hsl(0, 0%, 0% / 0.083333), 0 0.0625rem hsl(0, 0%, 0% / 0.083333), 0.0625rem 0 hsl(0, 0%, 0% / 0.083333), 0 -0.0625rem hsl(0, 0%, 0% / 0.083333);
  transition: var.$transition;
  user-select: text;
}

#controls {
  .button {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  #preview {
    height: 100%;
    padding: 1rem;
  }
}
