@use "sass:math";
@use "variables" as var;

footer {
  background: var.$footer_background;
  color: var.$footer_color;
  font-family: var.$header_font-family;
  font-size: var.$small;

  .grid {
    padding: 2rem 0;
  }

  a,
  a:any-link {
    color: var.$footer_a_color;

    &:hover {
      color: var.$footer_a_hover_color;
    }
  }

  ul {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 0;

    a {
      align-items: center;
      display: flex;
    }

    svg {
      height: var.$h2;
      padding: math.div((var.$h2 - 1), 2);
      width: auto;
    }
  }

  .author {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }
}

@mixin medium {
  footer ul svg:hover {
    animation: grow var.$transition forwards;
  }
}

@mixin large {}
