@use "variables" as var;

main {
  padding: 1rem 0;

  ul {
    list-style: inside;
  }
}

#about {
  img {
    background-color: var.$header_background-color;
    border: var.$border;
    border-radius: 50%;
    display: block;
    height: auto;
    margin: 0 auto 1rem;
    width: 11.3137rem;
  }
}

@mixin medium {
  main {
    padding: 2rem 0;
  }

  #about {
    .grid__item {
      &:nth-child(1) {
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-column: 2 / 4;
      }
    }

    img {
      width: 100%;
      max-width: 11.3137rem;
    }
  }
}

@mixin large {
  #about {
    .grid__item {
      &:nth-child(1) {
        grid-column: 2;
      }

      &:nth-child(2) {
        grid-column: 3 / 6;
      }
    }
  }
}
