$dark-theme: false;

$header_background: linear-gradient(90deg, hsl(210, 92%, 48%), hsl(300, 92%, 48%));
$header_color: hsl(210, 16%, 96%);
$header_font: "Encode Sans", sans-serif;
$header_line-height: 1.272;

$background: hsl(210, 16%, 96%);
$border: 1px solid hsl(240, 16%, 88%);
$color: hsl(240, 16%, 16%);
$font: Lora, serif;
$font_monospace: Inconsolata, monospace;
$line-height: 1.618;

$h1: 2rem;
$h2: 1.5874rem;
$h3: 1.2599rem;
$small: 0.7937rem;

$a: hsl(210, 96%, 48%);
$a_hover: $a;
$transition: 250ms ease-out;

$hr: 0;

$footer_background: $header_background;
$footer_color: $header_color;
$footer_a: $footer_color;
$footer_a_hover: $footer_a;

@if $dark-theme {
  $header_background: hsl(240, 16%, 20%);
  $header_color: hsl(30, 84%, 52%);

  $background:  hsl(240, 16%, 12%);
  $border: 2px solid $color;
  $color: #fff;

  $a:  hsl(195, 84%, 52%);
  $a_hover: $a;

  $footer_background: $header_background;
  $footer_color: $color;
  $footer_a: $a;
  $footer_a_hover: $footer_a;

  $hr: 0.125rem solid $header_color;
}
