$dark-theme: false;

$header__bg: linear-gradient(90deg, hsl(210, 92%, 48%), hsl(300, 92%, 48%));
$header__txt: hsl(210, 16%, 96%);

$body__bg: $header__txt;
$body__txt: hsl(240, 16%, 16%);
$body__ln: hsl(210, 96%, 48%);
$body__ln-hover: $body__ln;

$footer__bg: $header__bg;
$footer__txt: $header__txt;
$footer__ln: $footer__txt;
$footer__ln-hover: $footer__ln;

$bd: 0.0625rem solid hsl(240, 16%, 88%);
$lines: 0;

@if $dark-theme {
  $header__bg: hsl(240, 16%, 20%);
  $header__txt: hsl(30, 84%, 52%);

  $body__bg:  hsl(240, 16%, 12%);
  $body__txt: #fff;
  $body__ln:  hsl(195, 84%, 52%);
  $body__ln-hover: $body__ln;

  $footer__bg: $header__bg;
  $footer__txt: $body__txt;
  $footer__ln: $body__ln;
  $footer__ln-hover: $footer__ln;

  $bd: 0.0625rem solid $body__txt;
  $lines: 0.125rem solid $header__txt;
}

$h1: 2rem;
$h2: 1.5874rem;
$h3: 1.2599rem;
$s: 0.7937rem;

$lh1: 1.618;
$lh2: 1.272;

$f1: Lora, serif;
$f2: "Encode Sans", sans-serif;
$f3: Inconsolata, monospace;

$trs: 250ms ease-out;
