*,
::after,
::before {
  border: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;
  font-family: "Encode Sans";
  font-stretch: 75% 125%;
  font-style: normal;
  font-weight: 100 900;
  src: local("Encode Sans"), local("EncodeSans"), url("../../fonts/EncodeSans-VariableFont_wdth,wght.ttf") format(truetype) tech(variations);
}
@font-face {
  display: swap;
  font-family: "Lora";
  font-style: normal;
  font-weight: 400 700;
  src: local("Lora"), url("../../fonts/Lora-VariableFont_wght.ttf") format(truetype) tech(variations);
}
@font-face {
  font-display: swap;
  font-family: "Inconsolata";
  font-stretch: 50% 200%;
  font-style: normal;
  font-weight: 200 900;
  src: local("Inconsolata"), url("../../fonts/Inconsolata-VariableFont_wdth,wght.ttf") format(truetype) tech(variations);
}
html {
  font-size: 18px;
}

body {
  color: hsl(240, 16%, 16%);
  font: 400 1rem / 1.618034 "Lora", serif;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font: 700 2rem / 1.27202 "Encode Sans", sans-serif;
  font-stretch: 108%;
  letter-spacing: 0.0625rem;
  margin-bottom: 1rem;
}

h2,
.h2 {
  font: 500 1.414214rem / 1.27202 "Encode Sans", sans-serif;
  font-stretch: 108%;
  letter-spacing: 0.0625rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  font: 500 1rem / 1.618034 "Encode Sans", sans-serif;
  font-stretch: 108%;
  letter-spacing: 0.0625rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

.small {
  font-size: 0.707107rem;
}

a,
a:any-link {
  color: hsl(210, 96%, 48%);
  text-decoration: none;
  transition: all 250ms ease-out;
  user-select: all;
  overflow-wrap: break-word;
}
a:hover,
a:any-link:hover {
  color: #3799fb;
}

ul {
  list-style: inside;
}

li {
  margin-bottom: 0.0625rem;
}
li:last-child {
  margin-bottom: 0;
}

.font-monospace {
  font-family: "Inconsolata", monospace;
  font-stretch: 72%;
  user-select: all;
  word-break: break-all;
}

@keyframes grow {
  to {
    padding: 0;
  }
}
.icon-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style: none;
}
.icon-list a {
  align-items: center;
  display: inline-flex;
}
.icon-list svg {
  height: 1.414214rem;
  padding: 0.207107rem;
  width: auto;
}

.picture-frame {
  border-radius: 50%;
  max-width: 11.313708rem;
  width: 100%;
}
.picture-frame .portrait {
  background: url("../images/profile-picture.webp") center/cover no-repeat hsl(240, 16%, 88%);
  border: 1px solid hsl(240, 16%, 88%);
  border-radius: 50%;
  padding-bottom: 100%;
}

.grid {
  display: grid;
  gap: 2rem 0.5rem;
  padding: 2rem 0.5rem;
}
.grid:nth-child(even) {
  background: hsl(240, 16%, 92%);
}

header {
  background: linear-gradient(90deg, hsl(210, 92%, 48%), hsl(300, 92%, 48%));
  color: hsl(210, 16%, 100%);
  text-align: center;
}
header .grid {
  padding: 2rem 0;
}

footer {
  background: linear-gradient(90deg, hsl(210, 92%, 48%), hsl(300, 92%, 48%));
  color: hsl(210, 16%, 100%);
  font-family: "Encode Sans", sans-serif;
}
footer .grid {
  padding: 2rem 0;
}
footer a,
footer a:any-link {
  color: hsl(210, 16%, 100%);
}
footer a:hover,
footer a:any-link:hover {
  color: hsl(210, 16%, 100%);
}
footer .credits {
  display: block;
  font-size: 0.707107rem;
  margin-top: 1rem;
  text-align: center;
}

@keyframes stretch {
  to {
    width: 100%;
  }
}
html {
  height: 100%;
}

body {
  background: #fff;
  min-height: 100%;
}

.picture-frame {
  margin: 0 auto;
}

.line {
  animation: 1000ms ease-out forwards 125ms stretch;
  background: #000;
  height: 2px;
  position: absolute;
  top: 0;
  width: 0;
}
.line.stretch-left {
  margin-right: auto;
}
.line.stretch-right {
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .icon-list a:hover svg {
    animation: 250ms ease-out forwards grow;
  }
  .grid {
    gap: 4rem 1rem;
    grid-template-columns: repeat(12, 1fr);
    padding: 4rem 1rem;
  }
  .grid > * {
    grid-column: 1/13;
  }
  .picture-frame {
    justify-self: center;
    grid-column: 1/5;
  }
  .summary {
    grid-column: 5/13;
  }
}
@media only screen and (min-width: 1152px) {
  .grid {
    gap: 8rem 2rem;
    grid-template-columns: repeat(12, 1fr);
    padding: 8rem 2rem;
  }
  .grid > * {
    grid-column: 4/10;
  }
  .picture-frame {
    justify-self: center;
    grid-column: 4/6;
  }
  .summary,
  #contact-me > div {
    grid-column: 6/10;
  }
}

/*# sourceMappingURL=style.css.map */
